[submodule "oikos/bluetooth_tools/bluetoothctl"]
	path = oikos/bluetooth_tools/bluetoothctl
	url = https://gist.github.com/CacteGra/be4304ac9513f049bebac74ccfc4c9ce
[submodule "oikos/wifi_tools/panr_agora"]
	path = oikos/wifi_tools/panr_agora
	url = https://github.com/CacteGra/panr_agora.git
